@import "base";

@import "../../../mvp-theme/templates/landing/less/mvpready-landing";

fieldset{
  width: 100%;
}

legend{
  font-family: Oswald,"Trebuchet MS","Open Sans",arial,sans-serif;
  margin-left: 15px;
  margin-bottom: 0.75em;
  margin-top: 0;
  font-size: 18px;
}


body.trabajador li.trabajador,
body.periodo li.periodo,
body.dato_liquidacion li.dato_liquidacion
{
    & > a,
    & > a:hover {
      color: @navbar-landing-link-active-color;
      background: @navbar-landing-link-active-bg;
      border-bottom: none;
    }
}
