/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/*
/.idea/workspace.xml
/composer.lock
/web/bundles/*
/web/assetisc/*


/mvp-theme/*
!/mvp-theme/bower.json
/node_modules/
/src/AppBundle/Entity/*.php~
/src/*/*Bundle/Entity/*.php~

