{% extends ['::layout_backend.html.twig','layout.html.twig'] %}


{% block id 'Prodile' %}

{% block contenido -%}
    {% embed '::portlet.html.twig' with {'titulo': '<span class="small">Perfil:</span>  ' ~ user.nombre } %}
        {% block in_header %}
            <div class='pull-right'></div>
        {% endblock %}

        {% block cuerpo %}
            <p></p>
            {% include "@Usuario/Profile/edit_content.html.twig" %}
        {% endblock %}
    {% endembed %}
{% endblock contenido %}

    {% block script_main %}
        <script>

            $(document).ready(function () {

                $("#fos_user_profile_form_foto").fileinput({
                    {% set imagen_src = (user.foto  == null ? asset("assets/img/user_defaul.png" ) : asset("uploads/users/" ~ user.foto  )) %}
                    initialPreview: ["<img src='{{ imagen_src }}' class='file-preview-image'>"],

                    showCaption: false,
                    showRemove: false,
                    showUpload: false,

                    overwriteInitial: true,

                    showPreview: true,
                    browseClass: "btn btn-primary btn-sm",
                    {#fileType: "any",#}
                    allowedFileTypes: ['image'],
                    allowedPreviewTypes: ['image'],
                    'allowedFileExtensions': ['jpg', 'png', 'gif']


                });


            });
        </script>
    {% endblock script_main %}