{% extends '::base.html.twig' %}
{% block body %}
<div class="content">
    <div class="container">
        {% block container %}
        <div class="row">
            <div class="col-md-12">
                {% block workarea %}{% endblock %}
                {% block contenido %}{% endblock %}
            </div><!-- /.col -->
        </div><!-- /.row -->
        {% endblock container %}
    </div><!-- /.container -->
</div><!-- .content -->




{#<section id="main">#}
{#{% if block('breadcrumbs') is not empty %}#}
{#<div class="row-fluid">#}
{#<div class="span12">#}

{#<hr class="main">#}
{#<ul class="breadcrumbs">#}
{#{% block breadcrumbs %}{% endblock breadcrumbs %}#}
{#</ul>#}
{#<hr class="main">#}



{#<div>&copy; Municipalidad de Posadas <br> Direcci&oacute;n General de Administraci&oacute;n y Desarrollo de Sistemas</div>#}
{#<div>Creado por el Equipo Inform&aacute;tico</div>#}

{% endblock body %}
{#{% include 'includes/topbar.html.twig' %}#}


{#{% block stylesheets %}{% endblock stylesheets %}#}
{#{% block javascripts %}{% endblock javascripts %}#}