{% extends '::base.html.twig' %}

{% block body %}

    <section id="main">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    {% block contenido %}

                    {% endblock contenido %}
                </div>
            </div>
        </div>
    </section>
{% endblock body %}

{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}