<div class="portlet ">
    <div class="heading-block">
    <h2>{{ titulo | raw }}
        {% block in_header %}{% endblock %}
    </h2>
    </div>
    <div class="portlet-body ">
        {% block cuerpo %}Contenido{% endblock %}
    </div> <!-- /.portlet-body -->

</div>