{% extends '::layout_frontend.html.twig' %}

{% block id 'ctacte' %}

    {% block contenido -%}
        {% embed "portlet.html.twig" with  {"titulo": titulo } %}
            {% block cuerpo %}
                <section id="boleta">
                    <div id="pdf">
                        <object	data="{{ asset(pdf) }}#toolbar=1&amp;navpanes=0&amp;scrollbar=1&amp;page=1&amp;view=FitH,top"
                                   type="application/pdf"
                                   width="98%"
                                   height="600px"
                                   <!--minheight="600px" -->
                                >

                            <p>Parece que no tienes un plugin PDF para este navegador. No hay problema... Podes baja de aqui <a href="{{ asset(pdf) }}">click para bajar el archivo</a></p>
                        </object>
                    </div>
                </section>

                <script>
                    $(document).ready(function(){
//                        $("#pdf").css('height',"600px");
//                        $("#viewer").css('min-height',"600px");

                    });
                    $(window).resize(function(){
                      //  $("#pdf").css('height',$(window).height() *.85);
                    });


                </script>

            {% endblock %}
        {% endembed %}
    {% endblock %}